.navbar1 { /*맨 왼으로 정렬시켜주기 위함*/
    float: left;
    margin:19px;
}

.navbar2 { /*맨 오른쪽으로 정렬시켜주기 위함*/
    float: right;
    margin:10px;
    margin-top: 0px;
    padding-top: 0px;
}

.nav-item { /*머리 부분에서 a태그 밑줄 없애고 색깔정해줌 & 서로 띄어줌*/
    text-decoration: none;
    color:black;
    margin-right:15px;
}

/*.nav-item-user {
    padding-top: 25px;
    margin-top: 25px;
} */

.nav-item:hover { /*만약 마우스 갖다대면 밑줄 긋게 하겠다*/
    text-decoration: underline;
}

.login-style {
    background-color: #1a73e8;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    padding: 0 16px;
    margin: 11px 4px;
    height: 38px;
    width: 99px;
    border: 1px solid #f8f9fa;
    color: rgb(255, 255, 255);
}

.main { /*몸통 전체를 가운데 정렬시켜줌*/
    margin-top: 162px;
    text-align: center;
}

body { /*navbar 만든 거(머리부분)을 위쪽으로 고정시켜줌 */
    display: contents;
}

.input-area { /* 구글로고와 검색창을 띄어줌*/
    margin-top: 13px;
}

.input-box { /*박스 사이즈 정하고 박스 둥글게 함 & 박스 선 색깔*/
    width: 465px;
    height: 39px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 40px;
    padding-right: 80px;
}

.search-icon { /*박스 안에 아이콘들이 들어가게 함(위치옮기는)*/
    position: relative;
    left: 40px;
    color: #9aa0a6;
}

.kboard-icon { /*키보드 아이콘 위치 옮김*/
    position:relative;
    right:73px;
    color: #9aa0a6;
}

.mic-icon { /*마이크 아이콘 위치 옮김*/
    position: relative;
    right:60px;
    color: rgb(44, 64, 252);
}

.button-area { /*검색창과 그 아래에 있는 버튼간의 간격 */
    padding-top:18px;
}

.button-style { /*검색창 바로 아래에 있는 버튼들 구글처럼 꾸며주기*/
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    padding: 0 16px;
    margin: 11px 4px;
}

.button-style:hover { /*만약 버튼에 마우스 갖다대면 이러한 효과 넣겠다*/
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.footer { /*하단*/
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
}

.first-line { /*하단 중에서 첫째줄*/
    padding:15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.second-line { /*하단 중에서 둘째줄*/
    padding:15px 30px;
    ont-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.second-line-second { /*두번째그룹 애들 옆으로 밀어주기 위함*/
    float: right;
}

.second-line-item { /*하단둘째줄에서 a태그 밑줄 없애고 색깔정해줌 & 서로 띄어줌*/
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
    margin-right:15px;
}

.second-line-item:hover { /*하단둘째줄 만약 마우스 갖다대면 밑줄 긋게 하겠다*/
    text-decoration: underline;
}